*.user
*.suo
*.log
*.swp
*.exe
*.bak
*.orig
*.zip
.vs/
.idea/
/build/
/packages/
/artifacts/
bower_components/
node_modules/
[Bb]in/
[Oo]bj/
CurrentSettings.vssettings
Visual Studio 2017/*
/src/Our.Umbraco.GraphQL/umbraco/config/
/src/Our.Umbraco.GraphQL/umbraco/PartialViewMacros/
/src/Our.Umbraco.GraphQL/umbraco/UmbracoBackOffice/
/src/Our.Umbraco.GraphQL/umbraco/UmbracoInstall/
/src/Our.Umbraco.GraphQL/umbraco/UmbracoWebsite/
/src/Our.Umbraco.GraphQL/wwwroot/umbraco/
