@model Umbraco.Forms.Web.Models.FormViewModel

<div>
    <span class="umbraco-forms-submitmessage">
        @Model.MessageOnSubmit
    </span>
</div>
@Html.Partial("Forms/Themes/default/ScrollToFormScript")